@charset "utf-8";
/* DaTouWang URL: www.datouwang.com */
body{height: 100%;width:100%;font-size: 14px;background: #f0f4f5;overflow-x:hidden;}
body, input[type=text],input[type=date], input[type=tel],input[type=file], input[type=email], input[type=password], input[type=number], textarea, select{outline: none;font-family: "MicroSoft YaHei";}
a{text-decoration:none;color:inherit;}
a:visited{text-decoration:none;}
a.de{text-decoration:underline}
ol,ul,li{list-style:none;font-family:"MicroSoft YaHei";}
img{width:100%;border:0 none;}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #eee;
}
.close:hover,
.close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}
.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition:      -o-transform .3s ease-out;
	transition:         transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: 700px;
	margin: 140px auto 35px;
}
.modal-content {
	position: relative;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	outline: 0;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header {
	position: absolute;
	top:9.5%;
	right:5%;
	min-height: 16.42857143px;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 1400px) {
	.modal-dialog {
		width: 50%;
	}

}